@charset "utf-8";
/* ==========================================================================
 Challenge Step Show
========================================================================== */
.p-challenge-step-show {
    &__container {
        overflow: hidden; // 見出し線など溢れるデザインを非表示
    }
    &__main {
        width: 100%;
        @include pc() {
            width: 70%;
        }
    }
    &__aside { // sp非表示
        display: none;
        @include pc() {
            width: 25%;
            display: block;
        }
    }
}
.p-challenge-step-show__supplement {
    background-color: #fff;
    padding: 20px;
    &__head {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    &__user-information {
        line-height: 1.5;
        font-size: 12px;
        overflow-wrap: break-word;
    }
}
