@charset "utf-8";
/* ==========================================================================
 Base View Container
========================================================================== */
// 各ページでコンテンツを表示するwidthスタイルを設定
// 適宜propsで変更する
.p-container {
    max-width: 1440px;
    &--top {
        max-width: 100%;
        margin-top: 50px;
    }
    &__steps-list {
        max-width: 930px;
        position: relative;
        margin-top: 80px;
        margin-bottom: 50px;
        @include pc() {
            margin-top: 100px;
        }
    }
    &--steps-form {
        max-width: 1440px;
        margin-bottom: 50px;
        @include pc() {
            margin-bottom: 250px;
        }
    }
    &--steps-show {
        display: flex; // メインコンテンツとサイドバーの横並び
        justify-content: space-between;
        max-width: 1000px;
        margin-bottom: 50px;
        @include pc() {
            margin-bottom: 300px;
        }
    }
    &__mypage {
        max-width: 650px;
        margin-bottom: 50px;
        @include pc() {
            margin-bottom: 300px;
        }
    }
}
