@charset "utf-8";
/* ==========================================================================
 Register
========================================================================== */
.p-container {
    margin-bottom: 50px;
    @include pc() {
        margin-top: 115px;
        margin-bottom: 65px;
    }
}
.p-register-form {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 25px 40px;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        overflow: hidden;
        @include mq() {
            width: 500px;
            box-shadow: 0 0 8px #ccc;
        }
    }
    &__head {
        margin-bottom: 10px;
        @include mq() {
            margin-bottom: 20px;
        }
    }
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        @include mq() {
            width: 400px;
        }
    }
    &__element {
        width: 100%;
        margin-bottom: 15px;
        &:nth-of-type(6) {
            margin-bottom: 10px;
        }
    }
    &__text-link {
        text-align: left;
        width: 100%;
    }
}
