@charset "utf-8";
/* ==========================================================================
 Color
========================================================================== */

.u-color--b9 {
    color: $color_black9;
}

.u-color--user {
    background-color: $color_theme_user;
}
.u-color--shop {
    background-color: $color_theme_shop;
}
