@charset "utf-8";
/* ==========================================================================
 Margin (px)
========================================================================== */
.u-margin-auto {
    margin: 0 auto;
}

.u-margin-05p {
    margin: 5px;
}

.u-margin-1p {
    margin: 10px;
}

.u-margin-2p {
    margin: 20px;
}

.u-margin-3p {
    margin: 30px;
}

.u-margin-4p {
    margin: 40px;
}

.u-margin-5p {
    margin: 50px;
}

.u-margin-l-05p {
    margin-left: 5px;
}

.u-margin-l-1p {
    margin-left: 10px;
}

.u-margin-l-2p {
    margin-left: 20px;
}

.u-margin-l-3p {
    margin-left: 30px;
}

.u-margin-l-4p {
    margin-left: 40px;
}

.u-margin-l-5p {
    margin-left: 50px;
}

.u-margin-r-05p {
    margin-right: 5px;
}

.u-margin-r-1p {
    margin-right: 10px;
}

.u-margin-r-2p {
    margin-right: 20px;
}

.u-margin-r-3p {
    margin-right: 30px;
}

.u-margin-r-4p {
    margin-right: 40px;
}

.u-margin-r-5p {
    margin-right: 50px;
}

.u-margin-t-05p {
    margin-top: 5px;
}

.u-margin-t-1p {
    margin-top: 10px;
}

.u-margin-t-2p {
    margin-top: 20px;
}

.u-margin-t-3p {
    margin-top: 30px;
}

.u-margin-t-4p {
    margin-top: 40px;
}

.u-margin-t-5p {
    margin-top: 50px;
}

.u-margin-b-05p {
    margin-bottom: 5px;
}

.u-margin-b-1p {
    margin-bottom: 10px;
}

.u-margin-b-2p {
    margin-bottom: 20px;
}

.u-margin-b-3p {
    margin-bottom: 30px;
}

.u-margin-b-4p {
    margin-bottom: 40px;
}

.u-margin-b-5p {
    margin-bottom: 50px;
}

.u-margin-tb-05p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.u-margin-tb-1p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.u-margin-tb-2p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.u-margin-tb-3p {
    margin-top: 30px;
    margin-bottom: 30px;
}

.u-margin-tb-4p {
    margin-top: 40px;
    margin-bottom: 40px;
}

.u-margin-tb-5p {
    margin-top: 50px;
    margin-bottom: 50px;
}

.u-margin-lr-05p {
    margin-left: 5px;
    margin-right: 5px;
}

.u-margin-lr-1p {
    margin-left: 10px;
    margin-right: 10px;
}

.u-margin-lr-2p {
    margin-left: 20px;
    margin-right: 20px;
}

.u-margin-lr-3p {
    margin-left: 30px;
    margin-right: 30px;
}

.u-margin-lr-4p {
    margin-left: 40px;
    margin-right: 40px;
}

.u-margin-lr-5p {
    margin-left: 50px;
    margin-right: 50px;
}
