@charset "utf-8";
/* ==========================================================================
 Padding (px)
========================================================================== */
.u-padding-auto {
    padding: 0 auto;
}

.u-padding-05p {
    padding: 5px;
}

.u-padding-1p {
    padding: 10px;
}

.u-padding-2p {
    padding: 20px;
}

.u-padding-3p {
    padding: 30px;
}

.u-padding-4p {
    padding: 40px;
}

.u-padding-5p {
    padding: 50px;
}

.u-padding-l-05p {
    padding-left: 5px;
}

.u-padding-l-1p {
    padding-left: 10px;
}

.u-padding-l-2p {
    padding-left: 20px;
}

.u-padding-l-3p {
    padding-left: 30px;
}

.u-padding-l-4p {
    padding-left: 40px;
}

.u-padding-l-5p {
    padding-left: 50px;
}

.u-padding-r-05p {
    padding-right: 5px;
}

.u-padding-r-1p {
    padding-right: 10px;
}

.u-padding-r-2p {
    padding-right: 20px;
}

.u-padding-r-3p {
    padding-right: 30px;
}

.u-padding-r-4p {
    padding-right: 40px;
}

.u-padding-r-5p {
    padding-right: 50px;
}

.u-padding-t-05p {
    padding-top: 5px;
}

.u-padding-t-1p {
    padding-top: 10px;
}

.u-padding-t-2p {
    padding-top: 20px;
}

.u-padding-t-3p {
    padding-top: 30px;
}

.u-padding-t-4p {
    padding-top: 40px;
}

.u-padding-t-5p {
    padding-top: 50px;
}

.u-padding-b-05p {
    padding-bottom: 5px;
}

.u-padding-b-1p {
    padding-bottom: 10px;
}

.u-padding-b-2p {
    padding-bottom: 20px;
}

.u-padding-b-3p {
    padding-bottom: 30px;
}

.u-padding-b-4p {
    padding-bottom: 40px;
}

.u-padding-b-5p {
    padding-bottom: 50px;
}

.u-padding-tb-05p {
    padding: 0 5px;
}

.u-padding-tb-1p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.u-padding-tb-2p {
    padding-top: 20px;
    padding-bottom: 20px;
}

.u-padding-tb-3p {
    padding-top: 30px;
    padding-bottom: 30px;
}

.u-padding-tb-4p {
    padding-top: 40px;
    padding-bottom: 40px;
}

.u-padding-tb-5p {
    padding-top: 50px;
    padding-bottom: 50px;
}

.u-padding-lr-05p {
    padding-left: 5px;
    padding-right: 5px;
}

.u-padding-lr-1p {
    padding-left: 10px;
    padding-right: 10px;
}

.u-padding-lr-2p {
    padding-left: 20px;
    padding-right: 20px;
}

.u-padding-lr-3p {
    padding-left: 30px;
    padding-right: 30px;
}

.u-padding-lr-4p {
    padding-left: 40px;
    padding-right: 40px;
}

.u-padding-lr-5p {
    padding-left: 50px;
    padding-right: 50px;
}
