@charset "utf-8";
/* ==========================================================================
 Borderline
========================================================================== */
.c-border-line {
    content: "";
    height: 0px;
    border: solid 1px #ccc;
    &--large {
        width: 100%;
        @include pc() {
            width: 400px;
        }
    }
}
