@charset "utf-8";
/* ==========================================================================
 Button
========================================================================== */
%c-btn {
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
}
.c-btn {
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    // サイズ
    &--minimum {
        width: 100px;
        height: 30px;
        line-height: 28px;
        font-size: 16px;
    }
    &--x-small {
        width: 100%;
        height: 30px;
        line-height: 28px;
        font-size: 16px;
        @include pc() {
            width: 30%;
        }
    }
    &--small {
        width: 50%;
        height: 35px;
        line-height: 30px;
        font-size: 16px;
        @include pc() {
            width: 200px;
        }
    }
    &--middle {
        width: 80%;
        height: 35px;
        line-height: 35px;
        font-size: 18px;
        @include pc() {
            width: 300px;
        }
    }
    &--large {
        width: 100%;
        height: 48px;
        line-height: 48px;
        font-size: 18px;
        @include pc() {
            width: 400px;
        }
    }
    &--x-large {
        width: 100%;
        height: 48px;
        line-height: 48px;
        font-size: 18px;
    }

    // デザイン
    //// アカウント登録
    &--login,
    &--reset,
    &--show,
    &--add-sub-step,
    &--agree,
    &--cancel {
        color: #fff;
        background-color: #65c99b;
        border: 1px solid #65c99b;
        &:hover {
            background-color: #fff;
            color: #65c99b;
            // 使えない時は色も変えない
            &:disabled {
                color: #fff;
                background-color: #65c99b;
                border: 1px solid #65c99b;
            }
        }
    }
    &--send,
    &--edit,
    &--search,
    &--create,
    &--completion,
    &--update {
        background-color: #1da1f2;
        border: 1px solid #1da1f2;
        color: #fff;
        &:hover {
            background-color: #fff;
            color: #1da1f2;
            &:disabled {
                color: #fff;
                background-color: #fff;
                background-color: #1da1f2;
                border: 1px solid #1da1f2;
            }
        }
    }
    &--delete,
    &--danger,
    &--ok {
        background-color: #ea352e;
        border: 1px solid #ea352e;
        color: #fff;
        &:hover {
            background-color: #fff;
            color: #ea352e;
            // 使えない時は色も変えない
            &:disabled {
                color: #fff;
                background-color: #ea352e;
                border: 1px solid #ea352e;
            }
        }
    }
    &--save-draft {
        background-color: #888;
        border: 1px solid #888;
        color: #fff;
        &:hover {
            background-color: #fff;
            color: #888;
            // 使えない時は色も変えない
            &:disabled {
                color: #fff;
                background-color: #888;
                border: 1px solid #888;
            }
        }
    }
    &--zoom-in {
        background-color: $wink;
        border: 1px solid $wink;
        color: #fff;
        &:hover {
            background-color: #fff;
            color: $wink;
            // 使えない時は色も変えない
            &:disabled {
                color: #fff;
                background-color: $wink;
                border: 1px solid $wink;
            }
        }
    }
    &--zoom-out {
        background-color: $pink;
        border: 1px solid $pink;
        color: #fff;
        &:hover {
            background-color: #fff;
            color: $pink;
            // 使えない時は色も変えない
            &:disabled {
                color: #fff;
                background-color: $pink;
                border: 1px solid $pink;
            }
        }
    }

}
// TOPページ登録ページ
.c-btn--form-link-register {
    @extend .c-btn;
    @extend .c-btn--x-large;
    @extend .c-btn--agree;
}
// TOPページ,ステップ一覧ページ
.c-btn--step-list {
    @extend .c-btn;
    @extend .c-btn--x-large;
    @extend .c-btn--agree;
}

// ログイン
.c-btn--login {
    @extend .c-btn;
    @extend .c-btn--x-large;
    @extend .c-btn--agree;
}
// アカウント登録
.c-btn--register {
    @extend .c-btn;
    @extend .c-btn--x-large;
    @extend .c-btn--create;
}
// パスワードリセットメール
.c-btn--forgot {
    @extend .c-btn;
    @extend .c-btn--x-large;
    @extend .c-btn--create;
}
// パスワードリセット実行
.c-btn--reset {
    @extend .c-btn;
    @extend .c-btn--x-large;
    @extend .c-btn--update;
}
// プロフィール更新
.c-btn--update-profile {
    @extend %c-btn;
    @extend .c-btn--x-large;
    @extend .c-btn--create;
    @include pc() {
        // @extend .c-btn--small;
        width: 200px;
        height: 35px;
        line-height: 30px;
    }
}
// パスワード更新モーダル表示
.c-btn--update-password {
    @extend %c-btn;
    @extend .c-btn--x-large;
    @extend .c-btn--danger;
    @include pc() {
        // @extend .c-btn--small;
        width: 200px;
        height: 35px;
        line-height: 30px;
    }
}
// パスワード更新モーダル表示
.c-btn--exec-update-password {
    @extend %c-btn;
    @extend .c-btn--x-large;
    @extend .c-btn--create;
}

// SNSでログイン
.c-btn--social-login {
    @extend .c-btn;
    @extend .c-btn--x-large;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    &__text {
        width: 100%;
    }
}
.c-btn--challenge {
    @extend .c-btn;
    @extend .c-btn--large;
    @extend .c-btn--agree;
}

.c-btn--twitter-share {
    @extend %c-btn;
    width: 80px;
    height: 24px;
    line-height: 20px;
    font-size: 12px;
    @extend .c-btn--small;
    @extend .c-btn--create;
}

.c-btn--crop {
    @extend .c-btn;
    @extend .c-btn--middle;
    @extend .c-btn--create;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        padding-top: 2px;
    }
}
.c-btn--zoom-in,
.c-btn--zoom-out {
    @extend .c-btn;
    @extend .c-btn--middle;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        padding-top: 2px;
    }
}

.c-btn--common-modal-close {
    @extend %c-btn;
    @extend .c-btn--middle;
    @extend .c-btn--save-draft;
}
