@charset "utf-8";
/* ==========================================================================
 Form
========================================================================== */
.c-drawer {
    transition: height 0.2s ease-in-out;
    overflow: hidden;
    &__element {
        margin-bottom: 3px;
    }
}
