@charset "utf-8";
/* ==========================================================================
 Edit Tool Tip
========================================================================== */
@import "../../foundation/_variable";
.c-edit-tool-tip {
    display: inline-block;
    position: relative;
    &__menus {
        display: flex;
        justify-content: center;
        flex-direction: column; // メニューを縦に
        align-items: center;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        // bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        padding: .5em 1em;
        border-radius: 3px;
        background-color: #ebebeb;
        color: #404040;
        font-size: .7em;
        white-space: nowrap;
        transition: opacity .3s;
        z-index: $step-edit-menu-z-index;
    }
    &__txt {
        font-size: 12px;
        &:hover {
            text-decoration: underline;
        }
    }
}
.c-edit-tool-tip > div::before {
    position: absolute;
    top: -6px;
    width: 9px;
    height: 6px;
    background-color: inherit;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    content: '';
}
