@charset "utf-8";
/* ==========================================================================
 Form
========================================================================== */
.c-form {
    &--idea {
        box-shadow: 0 0 8px #ccc; // うっすらカゲを作るタイプ
        &__container {
            width: 100%;
            padding: 20px 40px;
            box-sizing: border-box;
            text-align: center;
            @include pc() {
                width: 600px;
            }
        }
        &__head {
            // padding: 20px;削除
            margin-bottom: 15px;
            @include pc() {
                margin-bottom: 30px;
            }
            text-align: center;
            font-size: 16px;
        }
        &__body {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
        }
        &__input {
            margin-bottom: 15px;
        }
    }
}
