@charset "utf-8";
/* ==========================================================================
 Icon
========================================================================== */
@import "../../foundation/_variable";
%c-icon {
    cursor: pointer;
    transition: all 0.3s;
}

.c-icon {
    cursor: pointer;
    &--small {
        font-size: 12px;
    }
    &--large {
        font-size: 24px;
    }
    &--elipsis,
    &--eye,
    &--delete {
        @extend %c-icon;
        color: #555;
        &:hover {
            color: #999;
        }
    }
    &--edit {
        cursor: pointer;
        transition: all 0.5s;
        padding: 3px;
        color: #555;
        font-size: 25px;
        &:hover {
            color: #ccc;
        }
    }
    &--side-menu {
        color: $color_black8;
        font-size: 20px;
        transition: all 0.3s;
    }
}
.c-icon--search {
    position: absolute;
    top: 50%;
    right: 5px;
    color: #333;
    transform: translateY(-50%);
    height: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.c-icon--upload {
    @extend %c-icon;
    color: $color_white1;
    font-size: 24px;
    padding: 12px 15px;
    border-radius: 50%;
    background: $wink;
    &:hover {
        opacity: 0.8;
        transition: all 0.3s;
    }
}

.c-icon--loading {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	transform: translate(-50%,-50%);
    &__bg-layer {
        // ローディングアイコンの配置
        display: flex;
        align-items: center;
        justify-content: center;
        // カバーで全体を固定で覆う
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #ffffff4d;
        z-index: $loading-z-index;
    }
	& span {
		display: block;
		position: absolute;
		width: 50%;
		height: 50%;
		border-radius: 50%;
	}
	& span:nth-child(1) {
		top: 0;
		left: 0;
		animation: loading07_mv1 3s cubic-bezier(.11,.75,.48,.94) infinite;
		background-color: rgba(76,207,224,0.75);
	}
	& span:nth-child(2) {
		top: 0;
		right: 0;
		animation: loading07_mv2 3s cubic-bezier(.11,.75,.48,.94) infinite;
		background-color: rgba(174,213,129,0.75);
	}
	& span:nth-child(3) {
		bottom: 0;
		left: 0;
		animation: loading07_mv3 3s cubic-bezier(.11,.75,.48,.94) infinite;
		background-color: rgba(255,213,79,0.75);
	}
	& span:nth-child(4) {
		bottom: 0;
		right: 0;
		animation: loading07_mv4 3s cubic-bezier(.11,.75,.48,.94) infinite;
		background-color: rgba(240,98,146,0.75);
	}
}
@keyframes loading07_mv1 {
	0% {
		z-index: 10;
		transform: translate(0);
	}
	25% {
		transform: translate(100%, 0);
	}
	50% {
		transform: translate(100%, 100%);
	}
	75% {
		z-index: 0;
		transform: translate(0, 100%);
	}
	100% {
		transform: translate(0);
	}
}
@keyframes loading07_mv2 {
	0% {
		transform: translate(0);
	}
	25% {
		transform: translate(0, 100%);
	}
	50% {
		z-index: 0;
		transform: translate(-100%, 100%);
	}
	75% {
		z-index: 10;
		transform: translate(-100%, 0);
	}
	100% {
		transform: translate(0);
	}
}
@keyframes loading07_mv3 {
	0% {
		transform: translate(0);
	}
	25% {
		z-index: 10;
		transform: translate(0, -100%);
	}
	50% {
		transform: translate(100%, -100%);
	}
	75% {
		transform: translate(100%, 0);
	}
	100% {
		z-index: 0;
		transform: translate(0);
	}
}
@keyframes loading07_mv4 {
	0% {
		transform: translate(0);
	}
	25% {
		z-index: 0;
		transform: translate(-100%, 0);
	}
	50% {
		z-index: 10;
		transform: translate(-100%, -100%);
	}
	75% {
		transform: translate(0, -100%);
	}
	100% {
		transform: translate(0);
	}
}
