@charset "utf-8";
/* ==========================================================================
 Icon
========================================================================== */
%fit {
    object-fit: contain;
}

.c-img {
    &--upload-user-icon-preview { // ユーザーアイコン画像プレビュー
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
    &--user-icon {
        display: inline-flex;
        border-radius: 50%;
        box-sizing: border-box;
        overflow: hidden;
        &--small {
            @extend .c-img--user-icon;
            width: 40px;
            height: 40px;
        }
        &--midium {
            @extend .c-img--user-icon;
            width: 60px;
            height: 60px;
        }
        &--large {
            @extend .c-img--user-icon;
            width: 100px;
            height: 100px;
        }
    }
    &--step {
        width: 100%;
        aspect-ratio: 5 / 3; // アスペクト比固定
        object-fit: contain; // 画像を縦横比を保ったまま表示
    }
    &--clip { // ImageClip.vue
        display: inline-flex;
        border-radius: 50%;
        box-sizing: border-box;
        overflow: hidden;
        &--small {
            @extend .c-img--user-icon;
            width: 40px;
            height: 40px;
        }
        &--medium {
            @extend .c-img--user-icon;
            width: 60px;
            height: 60px;
        }
        &--large {
            @extend .c-img--user-icon;
            width: 100px;
            height: 100px;
        }
    }
    &--icon--sns {
        width: 40px;
    }
    &--chat-gpt {
        width: 25px;
        vertical-align: middle;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            opacity: 0.8;
        }
    }
}
