@charset "utf-8";
/* ==========================================================================
 Icon
========================================================================== */
%fit {
    object-fit: contain;
}

.c-img {
    &--upload-user-icon-preview { // ユーザーアイコン画像プレビュー
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
    &--product-card {
        display: block;
        margin: 0 auto;
        width: unset;
        max-width: 200px; //横長の画像もリサイズする
        max-height: 180px;
    }
    &--review-user {
        padding: 0;
        width: 60px;
        border-radius: 50%;
        overflow: hidden;
    }
    &--user-icon {
        display: inline-flex;
        border-radius: 50%;
        box-sizing: border-box;
        overflow: hidden;
        &--small {
            @extend .c-img--user-icon;
            width: 40px;
            height: 40px;
        }
        &--midium {
            @extend .c-img--user-icon;
            width: 60px;
            height: 60px;
        }
        &--large {
            @extend .c-img--user-icon;
            width: 100px;
            height: 100px;
        }
    }
    &--icon--sns {
        width: 40px;
    }
}
