@charset "utf-8";
/* ==========================================================================
 Input
========================================================================== */
@import "../../foundation/_breakpoints.scss";

%c-input {
    padding: 5px 2px;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}
.c-input {
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    &--large {
        @extend %c-input;
        height: 48px;
    }
    &--large-middle {
        height: 40px;
    }
    &--middle {
        height: 36px;
    }
    &--small {
        height: 30px;
    }
    &--x-small {
        width: 40%;
        height: 30px;
    }
    &--keyword {
        @extend %c-input;
        flex: 1;
        padding: 5px 30px 5px 5px;
        border: none;
        outline: none;
        &__container {
            position: relative;
            display: flex;
            align-items: center;
            margin: 10px;
            padding: 5px;
            border-radius: 5px;
        }
    }
    &--presigned-upload {
        display: flex;
        flex-direction: column;
        &__label {
            margin-bottom: 10px;
        }
    }
}
.c-input,
.c-input--presigned-upload {
    // input,labelを囲むタグ
    &__container {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        width: 100%;
    }
    // inputとパスワードアイコンを囲むタグ
    &__body {
        position: relative;
        text-align: left; // 画像アップロードボタンの位置調整
    }
    &__password-icon {
        position: absolute;
        top: 35%;
        right: 8px;
    }
    // inputのラベル
    &__label {
        text-align: left;
        vertical-align: sub;
        padding-left: 5px;
        height: 20px;
    }
}
