@charset "utf-8";
/* ==========================================================================
 Select
========================================================================== */
.c-multi-tab *, .c-multi-tab *:before, .c-multi-tab *:after {
    box-sizing: border-box;
}
.c-multi-tab {
    &__radio {
        display: none;
    }
    &__body {
        padding: 15px 10px;
        background: #fff;
        min-height: 150px; // エリアの高さ
    }
    &__label {
        background: #fff;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 6px 6px 0 0;
        &.active {
            font-weight: bold;
            border-bottom: 3px solid #ff914d;
        }
    }
    &__panel {
        position: absolute;
        width: 100%;
        opacity: 0;
        padding: 0.5em 1em;
        transform: translateY(-10px);
        transition: opacity 0.5s, -webkit-transform 0.5s;
        transition: transform 0.5s, opacity 0.5s;
        transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
        opacity: 1;
        transform: translateY(0px);
        &--1 {
            @extend .c-multi-tab__panel;
            background: #80CBC4;
        }
    }
}
