@charset "utf-8";
@import "../../foundation/_variable";
/* ==========================================================================
 Title
========================================================================== */
.c-title {
    padding: 0.5em 0;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #333;
    @include pc() {
        font-size: 25px;
    }
    &--white {
        color: white;
    }
    &--large {
        font-size: 26px;
    }
    &--step {
        @extend .c-title;
        text-align: left;
    }
    &--sub-step {
        @extend .c-title;
        font-size: 16px;
        text-align: left;
        position: relative;
        padding-left: 25px; // 下線よりやや右側から文字開始
        padding-bottom: 0;
        &::before {
            position: absolute;
            content: '';
            bottom: -4px;
            left: 0;
            width: 0;
            height: 0;
            border: none;
            border-left: solid 10px transparent;
            border-bottom: solid 10px #1E88E5;// 見出し左の矢印
        }
        &::after {
            position: absolute;
            content: '';
            bottom: -4px;
            left: 10px;
            width: 100%;
            border-bottom: solid 2px #1E88E5; // 見出しアンダーライン
        }
    }
}

.c-title--how-to-use--append {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -30px;
    right: 305px;
    font-size: 14px;
    transform: rotate(22deg);
    &::before,
    &::after {
        content: "";
        width: 3px;
        height: 30px;
        background-color: #ff914d;
    }
    &::before {
        margin-right: 20px;
        transform: rotate(-35deg);
    }
    &::after {
        margin-left: 20px;
        transform: rotate(35deg);
    }
}
.c-title--how-to-use {
    @extend .c-title;
    position: relative;
    padding-bottom: 20px;
    font-size: 26px;
    text-align: center;
    &__accent {
        margin: 0 5px;
        font-size: 40px;
        color: $color_theme_user;
    }
}

// ショップTOPページタイトル
.c-title--hero-banner {
    font-size: 24px;
}
// ショップTOPページサブタイトル
.c-title--hero-banner--sub {
    font-size: 12px;
}

.c-title--needs--shop {

}
