@charset "utf-8";
@import "../../foundation/_variable";
/* ==========================================================================
 Title
========================================================================== */

%c-title {
    padding: 0.5em 0;
    // font-size: 16px;
    line-height: 1.5;
    text-align: center;
    white-space: pre-line; // \nによる改行
    // color: #333;
    font-size: 13px;
    @include pc() {
        font-size: 25px;
    }
}

.c-title {
    @extend %c-title;
    // padding: 0.5em 0;
    font-size: 16px;
    // line-height: 1.5;
    // text-align: center;
    // white-space: pre-line; // \nによる改行
    color: #333;
    @include pc() {
        font-size: 25px;
    }
    &--white {
        color: white;
    }
    &--large {
        font-size: 26px;
    }
    &--step {
        @extend .c-title;
        text-align: left;
    }
    &--sub-step {
        @extend .c-title;
        font-size: 16px;
        text-align: left;
        position: relative;
        padding-left: 25px; // 下線よりやや右側から文字開始
        padding-bottom: 0;
        &::before {
            position: absolute;
            content: '';
            bottom: -4px;
            left: 0;
            width: 0;
            height: 0;
            border: none;
            border-left: solid 10px transparent;
            border-bottom: solid 10px #1E88E5;// 見出し左の矢印
        }
        &::after {
            position: absolute;
            content: '';
            bottom: -4px;
            left: 10px;
            width: 100%;
            border-bottom: solid 2px #1E88E5; // 見出しアンダーライン
        }
    }
}

.c-title--how-to-use--append {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -30px;
    right: 305px;
    font-size: 14px;
    transform: rotate(22deg);
    &::before,
    &::after {
        content: "";
        width: 3px;
        height: 30px;
        background-color: #ff914d;
    }
    &::before {
        margin-right: 20px;
        transform: rotate(-35deg);
    }
    &::after {
        margin-left: 20px;
        transform: rotate(35deg);
    }
}
.c-title--how-to-use {
    @extend .c-title;
    position: relative;
    padding-bottom: 20px;
    font-size: 26px;
    text-align: center;
    &__accent {
        margin: 0 5px;
        font-size: 40px;
        color: $color_theme_user;
    }
}
.c-title--main-page-link {
    @extend %c-title;
    position: relative;
    padding: 1rem 1.5rem;
    // color: transparent;
    // background-image: linear-gradient(180deg, rgba(62, 161, 219, 1) 11.2%, rgba(93, 52, 236, 1) 100.2%);
    color: $color_black9;
    $font-size_s: 1.2rem;
    background-color: $font-color_default;
    background-clip: text;
    width: fit-content;
    font-size: 25px;
    // font-weight: bold;
    text-align: center;
    &::before {
        background-image: var(--gradient);
        left: -10px;
        transform: rotate(-30deg);
    }
    &::after {
        background-image: var(--gradient);
        right: -10px;
        transform: rotate(30deg);
    }
    &::before, &::after {
        // --gradient: linear-gradient(109.6deg, rgba(62, 161, 219, 1) 11.2%, rgba(93, 52, 236, 1) 100.2%);
        background-color: $color_black9;
        position: absolute;
        top: 10px;
        width: 2px;
        height: 30px;
        content: '';
    }
}

// ヒーローバナータイトル
.c-title--hero-banner {
    @extend .c-title;
    font-size: clamp(14px, 1vw, 25px); // window横幅(1vw単位)に応じて14~25pxで可変
    @include mq() {
        font-size: clamp(14px, 2.7vw, 25px);
    }
    @include pc() {
        font-size: clamp(14px, 2.7vw, 27px);
    }
    font-weight: bold;
}
