@charset "utf-8";
/* ==========================================================================
 Toggle Switch
========================================================================== */
.c-toggle-switch {
    &__input {
        display: none;
    }
    &__label {
        position: relative;
        display: block;
        padding: 15px 0;
        padding-right: 35px;
        cursor: pointer;
        &::before {
            // トグルボタンの枠
            right: 0;
            width: 30px;
            height: 15px;
            border: 1px solid #e4e3e1;
            border-radius: 15px;
            background: #ffffff;
        }

        &::after {
            // スイッチ
            right: 15px;
            width: 15px;
            height: 15px;
            transition: all 0.2s ease-out;
            border-radius: 50%;
            background: #bdbdbd;
        }
    }
    &__input:checked + .c-toggle-switch__label {
        right: 0;
        background: #da3c41;
    }
}
