@charset "utf-8";
/* ==========================================================================
 Container
========================================================================== */
@import "../foundation/_variable";

/**
ページ共通レイアウト
*/
.l-container {
    margin: calc($header-hight + 15px) auto 30px;
    min-height: calc(100vh - 180px);  // コンテンツが少なくても最低限の高さを維持 (180 = ヘッダー50px + フッター139px)
}
.l-container--mypage {
    margin: 65px 0;
    @include pc() {
        margin: 65px auto;
    }
}

.l-2column {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include pc() {
        width: 1080px;
        flex-direction: row;
    }
}

/**
スマホサイズで縦並び(順序逆)にする
 使用ページ
・マイページ
*/
.l-2column--reverse {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    @include pc() {
        width: 1080px;
        flex-direction: row;
    }
}
