@charset "utf-8";
/* ==========================================================================
 Footer
========================================================================== */

/** フッター共通レイアウト */
.l-footer {
    // position: fixed;　// ページ下部に固定
    bottom: 0;
    margin-top: auto;
    overflow: visible;
    width: 100%;
    @include pc() {
        overflow: hidden;
    }
}
